.whole{
display: inline-block;
width:33%;
margin-bottom:5px;
}

ul{
list-style: none;
font-size: 15px;
font-family:'Open Sans';
color: #9095aa;
padding: 5px;
margin: 0px;
}

.type{
width: 100%;
border-radius: 5px 5px 0px 0px;
background-color: #eac80d;
height: 40px;
border-bottom: 3px solid #bfa30c;
}

.type p{
font-family:'Open Sans';
font-weight: 800;
font-size: 15px;
text-transform: uppercase;
color: white;
text-align: center;
padding-top: 10px;
}

.plan{
width:100%;
background-color: #2b2937;
border-radius: 0px 0px 5px 5px;
font-family:'Open Sans';
font-style:condensed;
font-size: 30px;
color: white;
text-align: center;
min-height:160px;
}

.standard{
	background-color: #1abc9c;
	border-bottom: 3px solid #18937b;
}

.header{
	border-bottom: 1px solid #494a5a;
	padding-bottom: 8px;
}

.header span{
	font-size: 32px;	
}

.month{
	font-size: 14px;
	color: #575757;
	padding: 0px;
	margin: -10px;
}

.price{
	height:80px;
}

.cart{
  
  color:white;
  position: relative;
  top: 16px;  
}
